/* 滚动条 */
*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
 
*::-webkit-scrollbar-thumb{
  background: var(gray);
  border-radius: 8px;
  cursor:pointer;
}

*::-webkit-scrollbar-thumb:hover{
  opacity: 1;
  display: block!important;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

html {
  overflow-y: overlay;
}
.loading-img {
  background: url(https://isgodata.files.wordpress.com/2023/03/e7bb84-9.webp) no-repeat center center;
  background-size: cover;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}
/* 消息弹窗 */
.snackbar-container {
  background: var(--heo-main) !important;
  color: var(--heo-white) !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center !important;
  max-width: none !important;
  min-width: 100% !important;
  margin: 0px !important;
  left: 0px !important;
  height: 60px !important;
  transform: none !important;
}

.snackbar-container p {
  font-weight: bold !important;
  text-align: center !important;
  font-size: 0.8rem !important;
  display: flex !important;
  justify-content: center !important;
}

.snackbar-container .action {
  color: var(--heo-white) !important;
  padding: 4px 6px !important;
  font-weight: bold;
  border-radius: 8px !important;
  transition: 0.3s;
  border: var(--style-border) !important;
}

.snackbar-container .action:hover {
  color: var(--heo-main) !important;
  background: var(--heo-white) !important;
}

.snackbar-container::after {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--heo-white);
  opacity: 0.1;
  content: "";
  animation: snackbar-progress var(--heo-snackbar-time) linear forwards;
  pointer-events: none;
}

@keyframes snackbar-progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* 首页分类条展示 */
#category-bar {
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--heo-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 13px;
  margin-bottom: 0.1px;
  border: var(--style-border);
  transition: 0.3s;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 1300px) {
  #category-bar:hover {
    border: var(--style-border-hover);
    box-shadow: var(--heo-shadow-main);
  }

  .category-in-bar-tips {
    margin-bottom: .25rem;
  }
}

@media screen and (max-width: 768px) {
  #category-bar {
    border-radius: 10px;
    background: var(--heo-background);
    margin-bottom: 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1;
    padding: 0rem 1rem 0rem 16px;
    height: 50px;
    margin-top: 10px;
    align-items: center;
  }
}

#category #category-bar {
  padding: 0;
  border: none;
  box-shadow: none;
}

#category a.category-bar-item.select a {
  display: none;
}

.category-in-bar {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.category-in-bar-tips {
  margin-right: 1rem;
}

.category-bar-items {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}

.category-in-bar .category-in-bar-tips {
  margin-bottom: 0;
}

.category-in-bar #category-bar {
  margin-bottom: 0;
}


.category-bar-items::-webkit-scrollbar {
  display: none;
}

.category-bar-item a {
  padding: 0.1rem 0.5rem;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
}

.category-bar-item:hover a {
  background: var(--heo-theme);
  color: var(--heo-white);
}

.category-bar-item.select a {
  background: var(--heo-theme);
  color: var(--heo-white);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .category-bar-item.select a {
    border-radius: 8px;
  }

  .category-bar-item a {
    border-radius: 8px;
  }

  .category-in-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background: var(--heo-background);
    z-index: 1002;
  }
}

.category-bar-more {
  margin-left: 1rem;
  font-weight: bold;
}
#article-container ol,
#article-container ul {
  margin-top: 0.4rem;
  padding: 0px 0px 0px 0.8rem;
  list-style: none;
  counter-reset: li 0;
}

@media screen and (max-width: 768px) {

  #article-container ol,
  #article-container ul {
    padding: 0px 0px 0px 0.4rem;
  }
}

#article-container ol p,
#article-container ul p {
  margin: 0px 0px 0.5rem;
}

#article-container ol ol,
#article-container ol ul,
#article-container ul ol,
#article-container ul ul {
  padding-left: 0.6rem;
}

@media screen and (max-width: 768px) {

  #article-container ol ol,
  #article-container ol ul,
  #article-container ul ol,
  #article-container ul ul {
    padding-left: 0.2rem;
  }
}

#article-container ol li:not(.tab),
#article-container ul li:not(.tab) {
  position: relative;
  margin: 0.2rem 0px;
}

#article-container ol li:hover::before,
#article-container ul li:hover::before {
  transform: rotate(360deg);
}

#article-container ol li::before,
#article-container ul li::before {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(48, 122, 246);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

#article-container ol>li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.8em;
}

#article-container ol>li::before {
  margin-top: 0.65em;
  width: 1.45em;
  height: 1.45em;
  border-radius: 0.725em;
  content: counter(li);
  counter-increment: li 1;
  text-align: center;
  font-size: 0.85em;
  line-height: 1.45em;
}

#article-container ul>li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.4em;
}
#article-container ul>li:not(.tab)::before {
  top: 0.78em;
  width: 0.42em;
  height: 0.42em;
  border: 0.21em solid rgb(48, 122, 246);
  border-radius: 0.42em;
  background: 0px 0px;
  content: "";
  line-height: 0.42em;
}
#article-container ul>li:not(.tab):before {
    border: 0.21em solid var(--heo-lighttext) !important;
    background: var(--heo-lighttext) !important;
}
#article-container ul>li:not(.tab)::before {
    top: 0.78em;
    width: 0.42em;
    height: 0.42em;
    border-radius: 0.42em !important;
    background: 0px 0px;
    content: "";
    line-height: 0.42em;
}
#article-container img {
    border-radius: 12px;
    margin-bottom: 0.5rem;
    object-fit: cover;
}
@media screen and (min-width: 1300px){
	#category-bar {
	    margin-bottom: 0.75rem;
	    box-shadow: var(--heo-shadow-border);
	}
}
